# Copia este archivo como .env y rellena los valores reales
# NUNCA subas el fichero .env a Git

PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=TU_USUARIO_POSTGRES
DB_PASSWORD=TU_CONTRASEÑA_AQUI
DB_NAME=portfolio_db
